  .profile {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: table;  /* This might help with natural sizing */
  }

  .profile-header {
    padding: 1rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 4px;
  }

  .profile-content.expanded{
    max-width: 1000px;
    padding: 1rem;
    width: max-content;
  }

  .profile-content ul, li {
    padding-left: 1rem;
    font-size: .7rem;
    text-indent: -.6rem;
    list-style-type: '❖';
  }
  
  .profile-content span.label{
    font-size: .7rem;
  }

  .profile-header:hover {
    background-color: #e5e5e5;
  }
  
  .profile-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 1rem;
}

  .content-layout {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
  .image-container {
      width: 50%;
      overflow: hidden;
  }

  .image-container img {
      width: 100%;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      display: block; 
      transform-origin: top;
  }
  
  .profile-content.expanded {
    max-height: 1000px;
    padding: 1rem;
  }
  

  .arrow {
    font-size: 0.5em;
}

  .has-children::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #8b4513;
  }

  p {
    font-size: .75rem;
    margin: 0.5rem 0;
    color: #2c1810;
  }

  .scriptures {
    margin-top: 0.5rem;
  }

  .scriptures h4 {
    font-family: 'Cinzel', serif;
    color: #2c1810;
    margin: 0.5rem 0;
  }

  .scriptures ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  .scriptures li {
    color: #2c1810;
    margin: 0.2rem 0;
  }

  .connector {
    width: 1px; 
    height: 15px;
    background-color: #000000;
    margin-left: 149px;
    position: relative;
  }
